.container {
    max-width: 100%;
    margin-inline: auto;
    padding: .75rem 1.25rem;
    position: relative;
}

@media (width >= 80rem) {
    .container {
        max-width: 54.43rem;
        padding: 5rem;
    }
}